USE [master]
GO
/****** Object:  Database [DB_PrisonManagement]    Script Date: 5/6/2019 12:34:21 AM ******/
CREATE DATABASE [DB_PrisonManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_PrisonManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DB_PrisonManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_PrisonManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DB_PrisonManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_PrisonManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_PrisonManagement]
GO
/****** Object:  Table [dbo].[tbl_Hoat_Dong]    Script Date: 5/6/2019 12:34:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Hoat_Dong](
	[ID] [numeric](18, 0) NOT NULL,
	[ten_hoat_dong] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Hoat_Dong_Phong_Ban]    Script Date: 5/6/2019 12:34:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Hoat_Dong_Phong_Ban](
	[ID] [int] NOT NULL,
	[ten_hoat_dong] [nvarchar](50) NULL,
	[noi_dung] [nvarchar](50) NULL,
	[ngay_dien_ra] [datetime] NULL,
	[ma_phong_ban] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Khen_Thuong]    Script Date: 5/6/2019 12:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Khen_Thuong](
	[ID] [int] NOT NULL,
	[phan_thuong] [int] NULL,
	[ngay] [datetime] NULL,
	[ma_so_pham_nhan] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Ki_Nang]    Script Date: 5/6/2019 12:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Ki_Nang](
	[ID] [int] NOT NULL,
	[kha_nang] [nvarchar](255) NULL,
	[nang_khieu] [nvarchar](255) NULL,
	[ma_hoat_dong] [numeric](18, 0) NULL,
	[ma_so_pham_nhan] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_nguoi_dung]    Script Date: 5/6/2019 12:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_nguoi_dung](
	[ma_so] [varchar](20) NOT NULL,
	[hoten] [nvarchar](50) NULL,
	[user_name] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[ma_phong_ban] [varchar](20) NULL,
	[khau_phan_an] [int] NULL,
	[chi_tiet_khau_phan_an] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_so] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Pham_Nhan]    Script Date: 5/6/2019 12:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Pham_Nhan](
	[ma_so] [varchar](20) NOT NULL,
	[ho_ten] [nvarchar](50) NULL,
	[ngay_sinh] [datetime] NULL,
	[noi_sinh] [nvarchar](50) NULL,
	[pham_toi] [nvarchar](50) NULL,
	[sdt_nguoi_than] [varchar](50) NULL,
	[tong_so_ngay_giam_giu] [numeric](18, 0) NULL,
	[muc_do_pham_toi] [numeric](18, 0) NULL,
	[ngay_tiep_nhan] [datetime] NULL,
	[tinh_trang_tiep_nhan] [bit] NULL,
	[ma_nguoi_than] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_so] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Phan_Thuong]    Script Date: 5/6/2019 12:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Phan_Thuong](
	[ID] [int] NOT NULL,
	[ten_phan_thuong] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Phong_Ban]    Script Date: 5/6/2019 12:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Phong_Ban](
	[ma_phong_ban] [varchar](20) NOT NULL,
	[ten_phong_ban] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_phong_ban] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Tinh_Trang_Cai_Tao]    Script Date: 5/6/2019 12:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Tinh_Trang_Cai_Tao](
	[ID] [int] NOT NULL,
	[thoi_gian] [datetime] NULL,
	[xep_loai] [tinyint] NULL,
	[ma_so_pham_nhan] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Tinh_Trang_Pham_Nhan]    Script Date: 5/6/2019 12:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Tinh_Trang_Pham_Nhan](
	[ID] [numeric](18, 0) NOT NULL,
	[loai_suc_khoe] [int] NULL,
	[so_ngay_da_giam_giu] [numeric](18, 0) NULL,
	[ngay_phong_thich] [datetime] NULL,
	[khau_phan_an] [int] NULL,
	[chi_tiet_khau_phan_an] [nvarchar](255) NULL,
	[ma_so_pham_nhan] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_TKB_Cham_Soc_Pham_Nhan]    Script Date: 5/6/2019 12:34:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_TKB_Cham_Soc_Pham_Nhan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ngay_gio] [datetime] NULL,
	[tinh_trang] [bit] NULL,
	[ghi_chu] [ntext] NULL,
	[ma_so_pham_nhan] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_TKB_Vieng_Tham_Pham_Nhan]    Script Date: 5/6/2019 12:34:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_TKB_Vieng_Tham_Pham_Nhan](
	[ID] [int] NOT NULL,
	[ma_so_pham_nhan] [varchar](20) NULL,
	[ngay_gio_from] [datetime] NULL,
	[ngay_gio_to] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_Hoat_Dong] ([ID], [ten_hoat_dong]) VALUES (CAST(1 AS Numeric(18, 0)), N'3GRNFCX3N18BZONAMPPY35DS6SBTVKPP0ZTU2I')
INSERT [dbo].[tbl_Hoat_Dong] ([ID], [ten_hoat_dong]) VALUES (CAST(2 AS Numeric(18, 0)), N'9ZODFOOH8CI6COE5Y3ZHN147')
INSERT [dbo].[tbl_Hoat_Dong] ([ID], [ten_hoat_dong]) VALUES (CAST(3 AS Numeric(18, 0)), N'BJBZVS736FYERY4HB2GCDD0MUUR30V8VHA44DHDKB269FR')
INSERT [dbo].[tbl_Hoat_Dong_Phong_Ban] ([ID], [ten_hoat_dong], [noi_dung], [ngay_dien_ra], [ma_phong_ban]) VALUES (1, N'K8CZA5OS8FP9QG5QHF70B745S6SNKLGHOJ63XVYE', N'VXJF6M6WM6HY9', CAST(N'1967-02-20T04:21:13.490' AS DateTime), N'U3LNMZ')
INSERT [dbo].[tbl_Hoat_Dong_Phong_Ban] ([ID], [ten_hoat_dong], [noi_dung], [ngay_dien_ra], [ma_phong_ban]) VALUES (2, N'K9BG2IAPHOJBFWC4663D07NZ8L', N'S54GL5KEG9F1EXDYPVPW8XL1I5R5DUBEJDTL49IM6HG', CAST(N'1961-09-14T16:18:59.990' AS DateTime), N'GWF1QV75FF8PGG798X')
INSERT [dbo].[tbl_Hoat_Dong_Phong_Ban] ([ID], [ten_hoat_dong], [noi_dung], [ngay_dien_ra], [ma_phong_ban]) VALUES (3, N'92TMGTIQYSPQOIY2WW59NUYQOU0HCMB8HC0MO22IW', N'Z478JNGL8CXVJ2XFDF0LX1I04RTFD2QRGA1', CAST(N'1987-07-30T11:22:45.060' AS DateTime), N'GWF1QV75FF8PGG798X')
INSERT [dbo].[tbl_Khen_Thuong] ([ID], [phan_thuong], [ngay], [ma_so_pham_nhan]) VALUES (1, 9, CAST(N'1991-05-25T11:38:32.980' AS DateTime), N'XHVCRA')
INSERT [dbo].[tbl_Khen_Thuong] ([ID], [phan_thuong], [ngay], [ma_so_pham_nhan]) VALUES (2, 6, CAST(N'1970-11-26T03:30:26.300' AS DateTime), N'FC63DIR2XMHOA4KIHL1V')
INSERT [dbo].[tbl_Khen_Thuong] ([ID], [phan_thuong], [ngay], [ma_so_pham_nhan]) VALUES (3, 6, CAST(N'1991-02-19T09:20:48.000' AS DateTime), N'FC63DIR2XMHOA4KIHL1V')
INSERT [dbo].[tbl_Ki_Nang] ([ID], [kha_nang], [nang_khieu], [ma_hoat_dong], [ma_so_pham_nhan]) VALUES (1, N'HRGM1S45G9L67Z6M9V74RCKV0ZQCYOW01OXJMLTMGB030ULCDFPYJID56LL11R7RDK5J1MZN1KNFBGV6EDYIYYHJASD10RLP49QFP1AQF2WZUXTPQENNSOTE3L899YNAYYB2QGHC283V2IODYNAL3XWFFCB3S1GGFL0VLRZAWBKKLYCLXVAMN1612WNE4EJ1RMGGHTR7N0ORCCUHZQ6XQUSDFZTP', N'SGO2X8MAT0DUQPT1VWK90IXYOUDMR15F20ZDBRDEQW5MV6MGIJ6OQPN9JPE2VZIRUYSPPFQ3I6I4DA3H8W47VH', CAST(9 AS Numeric(18, 0)), N'XHVCRA')
INSERT [dbo].[tbl_Ki_Nang] ([ID], [kha_nang], [nang_khieu], [ma_hoat_dong], [ma_so_pham_nhan]) VALUES (2, N'L5ISJTYHW3443YNCEOQ15ED8LAXU20IZ122V6ZTIVZ3M1SMV500B3NY6R968W4EVL420WR6FV766BR6SN1O207VE4V3WTKMQL71XQMYDULFWHSV03DLUGCUE8OW1O9LAKFK3P9212A7FRZWBZ2TGZSA8CNO1PXPLZ5C17SAUAJR55FM9RK1LF5BS5CQ2K0C5LLFMNV47RZ5F043X0EA4W35TTKWV189A', N'CDPULDBJRDDSXDWQ2T25K6JW8MWTYVBWC9GC0L5Q6NRQ0H54C51ESB46UTLYGHKV2GGNXJQHNCZXFSWQG', CAST(6 AS Numeric(18, 0)), N'FC63DIR2XMHOA4KIHL1V')
INSERT [dbo].[tbl_Ki_Nang] ([ID], [kha_nang], [nang_khieu], [ma_hoat_dong], [ma_so_pham_nhan]) VALUES (3, N'MJJ00MWGUUG0VR08T25Q79IGLS3Z95JPU8EKKWZSEO18OTYSVM863KZD12F8IW6OBQ5NDFNW2DCJ79RRTA3MXCMA91JIHQ9HHDXYNBFGZB4Q8G5RANE8SKRY4UECW5FB3U1TBT3IVNNL8V2SVR7UC1OWMZTTX3JTWSNDECGHJWD4X5P8RLG4YLZ2547C0ALR3TPG8PEJBQAF', N'HSUW305AI6Z69P2WOJ1I6SEJQGC7Q1XUIOZR15CFHN1KHH29UJ3CP', CAST(6 AS Numeric(18, 0)), N'FC63DIR2XMHOA4KIHL1V')
INSERT [dbo].[tbl_nguoi_dung] ([ma_so], [hoten], [user_name], [password], [ma_phong_ban], [khau_phan_an], [chi_tiet_khau_phan_an]) VALUES (N'0YEA1F4S', N'2AZMEFXJCLO6OK680GBW1AH8ZZTVHP', N'Alfonso753', N'ZJWTKC8WEWWDICCSMFYX9TK3NOH2DH4U4N327PQXHSI7AU', N'ZD4GU6', 4, N'QWNOQQ')
INSERT [dbo].[tbl_nguoi_dung] ([ma_so], [hoten], [user_name], [password], [ma_phong_ban], [khau_phan_an], [chi_tiet_khau_phan_an]) VALUES (N'1AKYG6', N'NEPE855J3J7SAIDN7C19FQGWL6CX8SHBGFRTH8G', N'Tammi394', N'JWOLZM5LKXNSX1WJ13UCZ0Q2RI2296X4LYV1FVRMBK1T9LIT', N'GWF1QV75FF8PGG798X', 2, N'1I5SFJXYF6O26MAHDYIHH2K9471745HO2551CEJUEM2L398IF3DXSX5YXVN7IQUAPZZ0H94ZEN2VZZ5VZIR1SJW5Z63GQ')
INSERT [dbo].[tbl_nguoi_dung] ([ma_so], [hoten], [user_name], [password], [ma_phong_ban], [khau_phan_an], [chi_tiet_khau_phan_an]) VALUES (N'2QKAXPB', N'OPSR8Z02JL7JUH', N'Ronnie325', N'WD2S0A425S7B32QFL6PTGC19TM', N'FI25UV', 5, N'0HUWAWBMB7TOU9D34MTT1Z0843L5W0MQA8ZW1TIY6FP61TT60M5P6HM1HLS6B6QAL3DL9G2B4VNLAT7AAF5')
INSERT [dbo].[tbl_Pham_Nhan] ([ma_so], [ho_ten], [ngay_sinh], [noi_sinh], [pham_toi], [sdt_nguoi_than], [tong_so_ngay_giam_giu], [muc_do_pham_toi], [ngay_tiep_nhan], [tinh_trang_tiep_nhan], [ma_nguoi_than]) VALUES (N'33NGYMIUW', N'3ZCWFK8WP4WZ3FUDY5V9SZEQCO3SXAC18HNCZ', CAST(N'1992-05-18T03:15:48.440' AS DateTime), N'PJZAV1O4PAWGQJH4', N'B4YBXVB2I7TIHOOUECT45IOE9AEDMN6AIMAKMCW', N'0632909785', CAST(6666234 AS Numeric(18, 0)), CAST(4 AS Numeric(18, 0)), CAST(N'1976-05-15T02:24:26.380' AS DateTime), 0, N'MHOT')
INSERT [dbo].[tbl_Pham_Nhan] ([ma_so], [ho_ten], [ngay_sinh], [noi_sinh], [pham_toi], [sdt_nguoi_than], [tong_so_ngay_giam_giu], [muc_do_pham_toi], [ngay_tiep_nhan], [tinh_trang_tiep_nhan], [ma_nguoi_than]) VALUES (N'45KJY0', N'ET0ECJCQCVYN', CAST(N'1953-12-04T23:53:34.390' AS DateTime), N'7P', N'WYGVT4OFLV98431RHB7MMD9T4N9', N'0757891833', CAST(1493561 AS Numeric(18, 0)), CAST(4 AS Numeric(18, 0)), CAST(N'1965-08-12T14:46:04.250' AS DateTime), 0, N'PV5VU2WF7AWN5RFVQA')
INSERT [dbo].[tbl_Pham_Nhan] ([ma_so], [ho_ten], [ngay_sinh], [noi_sinh], [pham_toi], [sdt_nguoi_than], [tong_so_ngay_giam_giu], [muc_do_pham_toi], [ngay_tiep_nhan], [tinh_trang_tiep_nhan], [ma_nguoi_than]) VALUES (N'CN9OO1OKH32', N'QCMZFH0SIF', CAST(N'1989-06-27T17:35:01.800' AS DateTime), N'', N'PO36GM1ICKXM9I2SGJ1MHXG', N'0625394642', CAST(5219352 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(N'2002-11-15T15:27:31.680' AS DateTime), 0, N'9ETVLDC2E1945K')
INSERT [dbo].[tbl_Phan_Thuong] ([ID], [ten_phan_thuong]) VALUES (1, N'V15LN7A78IY0FBPYW0OBFIRYV66V0S3C1C286O3ZXYNRBZQHEB9JELLCA7PG1F7GELY38HR7XODHVZMVGPHOIJYFRQYYZMYIR7CP0M8XJ2MP83HALT0BXIYVNJCIIT7AQUPNMWVUGJ4FW97N8ND6MMK88H2HAQEQUCYEDTNPY6VEDIYDBO9VF1N39HE5TDJQ5DLKAS9FZN8GR6UQJO5MGJBSPV5WEIVKM590WD3JEUVRT6C2MOL57X9L')
INSERT [dbo].[tbl_Phan_Thuong] ([ID], [ten_phan_thuong]) VALUES (2, N'SVFMD0GSNTMXUT5LM7MNJZII3AQXQDPVNX4INW1UEZ6DP5SUGKLQMYJSDWJ39J294QAWPNXP5S9KT5SXHVG5SZ8PEB5RCYKUWW8ZUV5TNVLUPYZ83LLD3WH5HKHDI5D67ENXWT3MQNIXEE0GCWNQD7RZE3HADSBHHENAA2CAIYNFEKQ3K11LIMS0MOISBS8YC1FZQP59KD7EJCLUCEPBQPYVMNOMKJYQPP2C4RCVWR05FD')
INSERT [dbo].[tbl_Phan_Thuong] ([ID], [ten_phan_thuong]) VALUES (3, N'A2NFX3W7M2KD31IP0EHOU98PL1UFZPTF87EKW40NSHG9KE9TE2ZQXOL0TXUW8H8X945WMXSWDUWCTY56R00WP2HJLDQYA3EB9I0F9D7G93C3S87USN57GB87MLA97TM9FK2AYPXETKNM')
INSERT [dbo].[tbl_Phong_Ban] ([ma_phong_ban], [ten_phong_ban]) VALUES (N'7QHNMB', N'VFKJD2OT1GKDU0CSB2HT11A8H1H54NZ4EEJG5Y24JZAICMSB9MULB7CU4B2')
INSERT [dbo].[tbl_Phong_Ban] ([ma_phong_ban], [ten_phong_ban]) VALUES (N'BGSE43', N'XPHPH8A48BSZ066PXLR2MBS6I9DZB9ZHYJ6D20NEDHITUI')
INSERT [dbo].[tbl_Phong_Ban] ([ma_phong_ban], [ten_phong_ban]) VALUES (N'CYVDMJ61FS20', N'KJPEGGZFGVMC0DA2RSWU86VHTES61PBUWQJ09V1VNCUDZHKYXA3CF72EN8K2OSERJSG9T')
INSERT [dbo].[tbl_Tinh_Trang_Cai_Tao] ([ID], [thoi_gian], [xep_loai], [ma_so_pham_nhan]) VALUES (1, CAST(N'2005-08-16T02:14:57.530' AS DateTime), 2, N'XHVCRA')
INSERT [dbo].[tbl_Tinh_Trang_Cai_Tao] ([ID], [thoi_gian], [xep_loai], [ma_so_pham_nhan]) VALUES (2, CAST(N'1996-10-12T10:37:25.480' AS DateTime), 0, N'FC63DIR2XMHOA4KIHL1V')
INSERT [dbo].[tbl_Tinh_Trang_Cai_Tao] ([ID], [thoi_gian], [xep_loai], [ma_so_pham_nhan]) VALUES (3, CAST(N'1984-09-17T17:45:48.010' AS DateTime), 1, N'FC63DIR2XMHOA4KIHL1V')
INSERT [dbo].[tbl_Tinh_Trang_Pham_Nhan] ([ID], [loai_suc_khoe], [so_ngay_da_giam_giu], [ngay_phong_thich], [khau_phan_an], [chi_tiet_khau_phan_an], [ma_so_pham_nhan]) VALUES (CAST(57411346000000000 AS Numeric(18, 0)), 3, CAST(442790 AS Numeric(18, 0)), CAST(N'2006-01-31T06:27:45.580' AS DateTime), 49, N'F4PCRFHRIOFMQFQZ0AQ03DCEBT3IADBA5FD8HGOFJVRJ6IWZYPM11IW1SA1XCYG5C5GB1HIJMAH7MS8SW4JLQ98NICG6FQ3KEL602LXG62FR0PEZ2818EVE2XSTP1C4W7XS0L7QB63EOUHMTXG36PU5J7439R8EUXJJ3WEDUIP2BGQ8G60RK8Y7DR8TH4HKXOKQBXIWJ38OZST3GVN3RGUMZB6BNKVQ154MW0WIN38HZA7KY5CLGDSGUXQZR7', N'XHVCRA')
INSERT [dbo].[tbl_Tinh_Trang_Pham_Nhan] ([ID], [loai_suc_khoe], [so_ngay_da_giam_giu], [ngay_phong_thich], [khau_phan_an], [chi_tiet_khau_phan_an], [ma_so_pham_nhan]) VALUES (CAST(68796659000000000 AS Numeric(18, 0)), 1, CAST(421323 AS Numeric(18, 0)), CAST(N'1996-06-14T05:00:43.270' AS DateTime), 16, N'B3UG9Q9CM3SUDK7XU9ML8LINT7WNRL57QIOWHMKY', N'DQLS89')
INSERT [dbo].[tbl_Tinh_Trang_Pham_Nhan] ([ID], [loai_suc_khoe], [so_ngay_da_giam_giu], [ngay_phong_thich], [khau_phan_an], [chi_tiet_khau_phan_an], [ma_so_pham_nhan]) VALUES (CAST(83873328000000000 AS Numeric(18, 0)), 1, CAST(550143 AS Numeric(18, 0)), CAST(N'1999-05-24T14:35:52.570' AS DateTime), 14, N'Y7IMUN67GY5FN7CNP4LDI79ANCNSY9XQGUA9GNCWRXVMBY58HA1V5TQQX8ZH0E971EZTX361RPLKBMYO7EBO71KM3JC8NVWDOOLXYBBE4Z4G76EA9AAL3K00TCPEQXEWS8VN11QV3WK7X3EW41YCKBA3OL3MMWN6L7OZBR98KEH60S2PXS9PY1BGYRZGX3', N'FC63DIR2XMHOA4KIHL1V')
SET IDENTITY_INSERT [dbo].[tbl_TKB_Cham_Soc_Pham_Nhan] ON 

INSERT [dbo].[tbl_TKB_Cham_Soc_Pham_Nhan] ([ID], [ngay_gio], [tinh_trang], [ghi_chu], [ma_so_pham_nhan]) VALUES (1, CAST(N'2001-08-11T14:46:35.550' AS DateTime), 1, N'A', N'XHVCRA')
INSERT [dbo].[tbl_TKB_Cham_Soc_Pham_Nhan] ([ID], [ngay_gio], [tinh_trang], [ghi_chu], [ma_so_pham_nhan]) VALUES (2, CAST(N'1992-06-15T04:11:38.620' AS DateTime), 1, N'URWC77EM', N'FC63DIR2XMHOA4KIHL1V')
INSERT [dbo].[tbl_TKB_Cham_Soc_Pham_Nhan] ([ID], [ngay_gio], [tinh_trang], [ghi_chu], [ma_so_pham_nhan]) VALUES (3, CAST(N'1958-09-21T17:08:34.840' AS DateTime), 0, N'6FSZLNYGTT3', N'FC63DIR2XMHOA4KIHL1V')
SET IDENTITY_INSERT [dbo].[tbl_TKB_Cham_Soc_Pham_Nhan] OFF
INSERT [dbo].[tbl_TKB_Vieng_Tham_Pham_Nhan] ([ID], [ma_so_pham_nhan], [ngay_gio_from], [ngay_gio_to]) VALUES (1, N'XHVCRA', CAST(N'1973-05-04T20:00:54.080' AS DateTime), CAST(N'2002-01-26T18:59:23.600' AS DateTime))
INSERT [dbo].[tbl_TKB_Vieng_Tham_Pham_Nhan] ([ID], [ma_so_pham_nhan], [ngay_gio_from], [ngay_gio_to]) VALUES (2, N'FC63DIR2XMHOA4KIHL1V', CAST(N'1978-12-06T10:34:25.450' AS DateTime), CAST(N'1995-01-25T08:10:05.710' AS DateTime))
INSERT [dbo].[tbl_TKB_Vieng_Tham_Pham_Nhan] ([ID], [ma_so_pham_nhan], [ngay_gio_from], [ngay_gio_to]) VALUES (3, N'FC63DIR2XMHOA4KIHL1V', CAST(N'1984-03-02T18:33:18.730' AS DateTime), CAST(N'1967-08-13T08:16:39.200' AS DateTime))
ALTER TABLE [dbo].[tbl_Hoat_Dong_Phong_Ban]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Hoat_Dong_Phong_Ban_tbl_Phong_Ban] FOREIGN KEY([ma_phong_ban])
REFERENCES [dbo].[tbl_Phong_Ban] ([ma_phong_ban])
GO
ALTER TABLE [dbo].[tbl_Hoat_Dong_Phong_Ban] CHECK CONSTRAINT [FK_tbl_Hoat_Dong_Phong_Ban_tbl_Phong_Ban]
GO
ALTER TABLE [dbo].[tbl_Khen_Thuong]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Khen_Thuong_tbl_Pham_Nhan] FOREIGN KEY([ma_so_pham_nhan])
REFERENCES [dbo].[tbl_Pham_Nhan] ([ma_so])
GO
ALTER TABLE [dbo].[tbl_Khen_Thuong] CHECK CONSTRAINT [FK_tbl_Khen_Thuong_tbl_Pham_Nhan]
GO
ALTER TABLE [dbo].[tbl_Khen_Thuong]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Khen_Thuong_tbl_Phan_Thuong] FOREIGN KEY([phan_thuong])
REFERENCES [dbo].[tbl_Phan_Thuong] ([ID])
GO
ALTER TABLE [dbo].[tbl_Khen_Thuong] CHECK CONSTRAINT [FK_tbl_Khen_Thuong_tbl_Phan_Thuong]
GO
ALTER TABLE [dbo].[tbl_Ki_Nang]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Ki_Nang_tbl_Hoat_Dong] FOREIGN KEY([ma_hoat_dong])
REFERENCES [dbo].[tbl_Hoat_Dong] ([ID])
GO
ALTER TABLE [dbo].[tbl_Ki_Nang] CHECK CONSTRAINT [FK_tbl_Ki_Nang_tbl_Hoat_Dong]
GO
ALTER TABLE [dbo].[tbl_Ki_Nang]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Ki_Nang_tbl_Pham_Nhan] FOREIGN KEY([ma_so_pham_nhan])
REFERENCES [dbo].[tbl_Pham_Nhan] ([ma_so])
GO
ALTER TABLE [dbo].[tbl_Ki_Nang] CHECK CONSTRAINT [FK_tbl_Ki_Nang_tbl_Pham_Nhan]
GO
ALTER TABLE [dbo].[tbl_nguoi_dung]  WITH CHECK ADD  CONSTRAINT [FK_tbl_nguoi_dung_tbl_Phong_Ban] FOREIGN KEY([ma_phong_ban])
REFERENCES [dbo].[tbl_Phong_Ban] ([ma_phong_ban])
GO
ALTER TABLE [dbo].[tbl_nguoi_dung] CHECK CONSTRAINT [FK_tbl_nguoi_dung_tbl_Phong_Ban]
GO
ALTER TABLE [dbo].[tbl_Tinh_Trang_Cai_Tao]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Tinh_Trang_Cai_Tao_tbl_Pham_Nhan] FOREIGN KEY([ma_so_pham_nhan])
REFERENCES [dbo].[tbl_Pham_Nhan] ([ma_so])
GO
ALTER TABLE [dbo].[tbl_Tinh_Trang_Cai_Tao] CHECK CONSTRAINT [FK_tbl_Tinh_Trang_Cai_Tao_tbl_Pham_Nhan]
GO
ALTER TABLE [dbo].[tbl_Tinh_Trang_Pham_Nhan]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Tinh_Trang_Pham_Nhan_tbl_Pham_Nhan] FOREIGN KEY([ma_so_pham_nhan])
REFERENCES [dbo].[tbl_Pham_Nhan] ([ma_so])
GO
ALTER TABLE [dbo].[tbl_Tinh_Trang_Pham_Nhan] CHECK CONSTRAINT [FK_tbl_Tinh_Trang_Pham_Nhan_tbl_Pham_Nhan]
GO
ALTER TABLE [dbo].[tbl_TKB_Cham_Soc_Pham_Nhan]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TKB_Cham_Soc_Pham_Nhan_tbl_Pham_Nhan] FOREIGN KEY([ma_so_pham_nhan])
REFERENCES [dbo].[tbl_Pham_Nhan] ([ma_so])
GO
ALTER TABLE [dbo].[tbl_TKB_Cham_Soc_Pham_Nhan] CHECK CONSTRAINT [FK_tbl_TKB_Cham_Soc_Pham_Nhan_tbl_Pham_Nhan]
GO
ALTER TABLE [dbo].[tbl_TKB_Vieng_Tham_Pham_Nhan]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TKB_Vieng_Tham_Pham_Nhan_tbl_Pham_Nhan] FOREIGN KEY([ma_so_pham_nhan])
REFERENCES [dbo].[tbl_Pham_Nhan] ([ma_so])
GO
ALTER TABLE [dbo].[tbl_TKB_Vieng_Tham_Pham_Nhan] CHECK CONSTRAINT [FK_tbl_TKB_Vieng_Tham_Pham_Nhan_tbl_Pham_Nhan]
GO
/****** Object:  StoredProcedure [dbo].[SP_nguoi_dung_login]    Script Date: 5/6/2019 12:34:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_nguoi_dung_login]
	@user_name VARCHAR(50),
	@password VARCHAR(50)
AS
BEGIN
    SELECT * FROM dbo.tbl_nguoi_dung WHERE user_name = @user_name AND password = @password
END
GO
USE [master]
GO
