
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a class="navbar-brand" href="">Home</a></li>
                    <li><a href="#">Giới Thiệu <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Tin Tức - Sự Kiện</a></li>
                    <li><a href="#" title="">Đường Dây Nóng</a></li>
                    <li><a href="#">Liên Hệ</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Đăng Nhập</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container" id="tt-cai-tao">
        <div class="row">
            <div class="col-md-4 sidebar-left-cai-tao">
                <ul>
                    <li><span class="glyphicon glyphicon-ok"></span><a href="" title="">Tình Trạng Phạm Nhân</a></li>
                    <li><span class="glyphicon glyphicon-ok"></span><a href="" title="">Danh Sách Phạm Nhân</a></li>
                    <li><span class="glyphicon glyphicon-ok"></span><a href="" title="">Phạm Nhân Cần Chăm Sóc</a></li>
                    <li><span class="glyphicon glyphicon-ok"></span><a href="" title="">Cập Nhật Sức Khoẻ</a></li>
                    <li><span class="glyphicon glyphicon-ok"></span><a href="" title="">Thêm Phạm Nhân</a></li>
                    <li><span class="glyphicon glyphicon-ok"></span><a href="" title="">Xuất Phạm Nhân</a></li>
                    <li><span class="glyphicon glyphicon-ok"></span><a href="" title="">Hoạt Động Của Bộ Phận</a></li>
                    <li><span class="glyphicon glyphicon-ok"></span><a href="" title="">Gợi Ý Khẩu Phần Ăn</a></li>
                    <li><span class="glyphicon glyphicon-ok"></span><a href="" title="">Tình Trạng Cải Tạo</a></li>

                </ul>
            </div>
            <div class="col-md-8 sidebar-right-cai-tao">
                <h3 class="title-tinhtrang"><span class="glyphicon glyphicon-send"></span> XUẤT DANH SÁCH PHẠM NHÂN TIẾP NHẬN PHÓNG THÍCH</h3>
                <form action="goiykhauphanan_submit" method="get" accept-charset="utf-8">
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Loại:</label>
                        <div class="col-sm-10">
                            <select class="custom-select form-control">
                                <option selected>Tiếp Nhận</option>
                                <option value="1">Phóng Thích</option>
                            </select>
                        </div>
                    </div>
                </form>
                <form action="" method="" class="form-tt">
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Từ Ngày: </label>
                        <div class="col-sm-4">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <label for="staticEmail" class="col-sm-2 col-form-label">Đến Ngày: </label>
                        <div class="col-sm-4">
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="tt-huy-capnhat">
                    <button type="button" class="btn btn-primary">Xoá</button>
                    <button type="button" class="btn btn-success">Tìm Kiếm</button>
                </div>
                <div class="col-sm-12 btnPhongThich">
                    <button type="button" class="pull-left btn btn-primary">Thêm</button>
                    <button type="button" class="pull-right btn btn-success">Xuất PDF</button>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Mã PN</th>
                            <th scope="col">Họ Tên</th>
                            <th scope="col">Quê Quán</th>
                            <th scope="col">Phạm Tội</th>
                            <th scope="col">Thời Gian Giam</th>
                            <th scope="col">Sức Khoẻ</th>
                            <th scope="col">Chức Năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">A001</th>
                            <td>Nguyễn Văn A</td>
                            <td>Hồ Chí Minh</td>
                            <td>Mức 1</td>
                            <td>10 Th</td>
                            <td>Loại 1</td>
                            <td><button type="button" class="btn btn-success">Cập Nhật</button></td>
                        </tr>
                        <tr>
                            <th scope="row">A001</th>
                            <td>Nguyễn Văn A</td>
                            <td>Hồ Chí Minh</td>
                            <td>Mức 1</td>
                            <td>10 Th</td>
                            <td>Loại 1</td>
                            <td><button type="button" class="btn btn-success">Cập Nhật</button></td>
                        </tr>
                        <tr>
                            <th scope="row">A001</th>
                            <td>Nguyễn Văn A</td>
                            <td>Hồ Chí Minh</td>
                            <td>Mức 1</td>
                            <td>10 Th</td>
                            <td>Loại 1</td>
                            <td><button type="button" class="btn btn-success">Cập Nhật</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer>
        <div id="footer" class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Nhà Tù Miền Nam</h3>
                    <ul>
                        <li><a href="" title="">Nhà Tù Miền Nam 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Nam 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Nam 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Nam 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Nam 1</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Nhà Tù Miền Trung</h3>
                    <ul>
                        <li><a href="" title="">Nhà Tù Miền Trung 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Trung 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Trung 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Trung 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Trung 1</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Nhà Tù Miền Bắc</h3>
                    <ul>
                        <li><a href="" title="">Nhà Tù Miền Bắc 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Bắc 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Bắc 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Bắc 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Bắc 1</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Liên Kết Website</h3>
                    <ul>
                        <li><a href="" title="">Bộ Công Thương</a></li>
                        <li><a href="" title="">Bộ Công Thương</a></li>
                        <li><a href="" title="">Bộ Công Thương</a></li>
                        <li><a href="" title="">Bộ Công Thương</a></li>
                        <li><a href="" title="">Bộ Công Thương</a></li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <p>Copyright <a href="" title="#">Nhóm 14</a></p>
                </div>
            </div>
        </div>
        <div id="back-top" style="display: block;"><a href="#top"> Về Đầu Trang </a></div>
    </footer>
    <script type='text/javascript'>
		// hide #back-top first
		$("#back-top").hide();

    // fade in #back-top
    $(function () {
    	$(window).scroll(function () {
    		if ($(this).scrollTop() > 100) {
    			$('#back-top').fadeIn();
    		} else {
    			$('#back-top').fadeOut();
    		}
    	});

        // scroll body to 0px on click
        $('#back-top a').click(function () {
        	$('body,html').animate({
        		scrollTop: 0
        	}, 800);
        	return false;
        });
    });
    </script>
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.css"> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker-standalone.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
	$(function () {
		$('#datetimepicker1').datetimepicker();
	});
    </script>
</body>
</html>
